section {
    padding-top:5vw;
}

/* styles.css */

.About {
    height: 1000px;
    background-color: rgb(255, 167, 190); /* Change this to your desired color */
  }
  
  .Projects {
    height: 500px;
    background-color: rgb(255, 255, 235); /* Change this to your desired color */
  }
  
  .Contact {
    height: 500px;
    background-color: lightcoral; /* Change this to your desired color */
  }
  
