.animation, .animation_layer {
      height: 160%;
  }
  
  h2 {
    font-size: 6vw;
    font-family: cursive;
    color: #a468ff;
    text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.3);
    padding: 2vh;
  } 

  .animation {
    display: block;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer {
      background-position: bottom center;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
      background-size: cover;
  }
  .animation_layer.parallax {
      position: fixed;
  }

#firstLayer,
#secondLayer,
#thirdLayer,
#fourthLayer,
#backGroundLayer {
    background-repeat: no-repeat; /* Prevent image repetition */
    background-size: cover; /* or background-size: contain; */
    background-position: center center; /* Center the background image */
}
  
  #firstLayer {
    background-image: url(../assets/firstLayer.png);
  }
  
  #secondLayer {
    background-image: url(../assets/secondLayer.png);
  }
  
  #thirdLayer {
    background-image: url(../assets/thirdLayer.png);
  }
  
  #fourthLayer {
    background-image: url(../assets/fourthLayer.png);
  }

  #backGroundLayer {
    background-image: url(../assets/background.png);
  }
 
 