.animation, .animation_layer {
      height: 1000px;
  }
  
  .animation {
    display: block;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer {
      background-position: bottom center;
      background-size: auto 1038px;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  #firstLayer {
    background-image: url(../assets/firstLayer.png);
  }
  
  #secondLayer {
    background-image: url(../assets/secondLayer.png);
  }
  
  #thirdLayer {
    background-image: url(../assets/thirdLayer.png);
  }
  
  #fourthLayer {
    background-image: url(../assets/fourthLayer.png);
  }

  #backGroundLayer {
    background-image: url(../assets/background.png);
  }
 
 